@import 'src/theme/colors.module.scss';
@import 'src/theme/dimensions.module.scss';
@import 'src/theme/fonts.module.scss';

@media only screen and (max-width: $screen-reactive-width) {
  .container {
    text-align: center;
    margin: $photo-gallery-margin auto;
  }

  .text {
    padding: 0 20px;
  }
}

@media only screen and (min-width: calc(#{$screen-reactive-width} + 1px)) {
  .container {
    margin: $photo-gallery-margin;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(min(100%, 400px));
}

.text {
  @include copy-font-style;
}

.link {
  color: $default-copy-color;
  
  &:hover {
    color: $highlight-color;
  }
}
