$screen-reactive-width: 600px;

$photo-gallery-row-height: 400px;
$photo-gallery-margin: 4px;

:export {
  photoGalleryRowHeight: $photo-gallery-row-height;
  photoGalleryMargin: $photo-gallery-margin;
}
