@import 'src/theme/colors.module.scss';
@import 'src/theme/dimensions.module.scss';
@import 'src/theme/fonts.module.scss';

@media only screen and (max-width: $screen-reactive-width) {
  .container {
    width: calc(100% - 2 * #{$photo-gallery-margin});
    margin: 50px auto 25px;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin: 0 auto;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 16px auto 0;
  }
}

@media only screen and (min-width: calc(#{$screen-reactive-width} + 1px)) {
  .container {
    overflow: hidden;
    width: calc(100% - 2 * #{$photo-gallery-margin});
    margin: 25px 25px 25px $photo-gallery-margin;
    display: flex;
    align-items: baseline;
  }

  .title {
    padding: 16px 16px 16px 0px;
  }
}

.title {
  @include title-style;
  text-decoration: none;
}

.links {
  @include nav-style;
  padding: 16px 16px 16px 16px;
  text-transform: lowercase;
  text-decoration: none;

  &:hover {
    color: $highlight-color;
  }
}

.activeNavLink {
  color: $emphasis-color;

  &:hover {
    // hovering an active link doesn't change the color 
    color: $emphasis-color;
  }
}
