@import 'src/theme/colors.module.scss';
@import 'src/theme/fonts.module.scss';

.imageContainer {
  display: block;
  cursor: pointer;
  overflow: hidden;
  animation: loading 2s ease infinite;
  background: linear-gradient(120deg, #eee 30%, #f2f2f2 35%, #eee 40%) no-repeat;
  background-size: 600% 100%;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

@keyframes loading {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

.image {
  // setting both width and height causes a weird border to show up when img src=none (e.g. during loading)
  width: 100%;
  // height: 100%;
}

.overlay {
  position: absolute;
  opacity: 0;
  background-color: rgba(black, 0.5);
  transition: 0.2s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayAlt {
  @include copy-font-style;
  color: white;
}
