.navbar {
  overflow: hidden;
  width: 100%;
  margin: 25px 25px 25px 8px;
  display: flex;
  align-items: baseline;
}

.title {
  color: black;
  font-size: x-large;
  padding: 16px 16px 16px 0px;
}

.links {
  color: #989898;
  padding: 16px 16px 16px 16px;
}

.links:hover {
  color: black;
}

.activeNavLink {
  color: black;
}

a {
  text-decoration: none;
}
