@import 'src/theme/colors.module.scss';

.container {
  overflow: hidden;
  width: 100%;
  margin: 25px 25px 25px 8px;
  display: flex;
  align-items: baseline;
}

@media only screen and (max-device-width: 800px) {
  .navbar {
    display: none;
  }
}

@media only screen and (min-device-width: 801px) {

}

.title {
  color: black;
  font-size: x-large;
  padding: 16px 16px 16px 0px;
  text-decoration: none;
}

.links {
  color: $text;
  padding: 16px 16px 16px 16px;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.activeNavLink {
  color: black;
  font-weight: 500;
}
