@import 'src/theme/colors.module.scss';
@import 'src/theme/dimensions.module.scss';
@import 'src/theme/fonts.module.scss';

.container {
  margin-top: 75px;
  @include nav-style;
}

@media only screen and (max-width: $screen-reactive-width) {
  .container {
    text-align: center;
  }
}

@media only screen and (min-width: calc(#{$screen-reactive-width} + 1px)) {
  .container {
    margin-left: $photo-gallery-margin;
  }
}
